<div style="text-align:center">
    <h2 style="color: green">Project Manager</h2>
</div> 


<table style="width: 90%;">
        <tr>
        <td style="padding-left: 300px">
            <ul class="nav navbar-nav" >
                <li class="active"><a href="project-maintain">Add Project</a></li>
                <li><a href="user-maintain">Add User</a></li>
                <li class="active"><a href="view-task">View Task</a></li>
                <li><a href="add-task">Add Task</a></li>
            </ul>               
        </td>
        </tr>
        <tr>
        <td style="align-items: center">
                <br>
            <router-outlet></router-outlet>
        </td>
        </tr>    
        </table> 

      