<form [formGroup]="searckTaskForm" (ngSubmit)="onSubmit()">
    <table style="margin-left: 100px">
    <tr>
      <td style="width: 100px" >
        <label for="task">Project:</label>
      </td>
      <td colspan="3" style="width: 420px">
          <input type="text" style="width:400px" formControlName="task"
                    placeholder="Project Name" name="task" class="form-control" id="task">
       </td>
    <td style="width: 200px">
      <button class="btn btn-success" (click)="searchTask(taskSerch)">Search</button>
     </td>
    </tr>
    </table>
    <br>
    <br>
    <br>
    </form>