
<div class="task-container">
 
  <div  *ngFor="let task of tasks" >
    <div style="text-align: center">
      <table style="width: 90%; margin-left: 100px; margin-right: 50px;">
        <tr>
          <td style="width: 150px">
            <p style="border-style: groove;background-color:rgb(34, 226, 240);width: 140px;height: 80px;">
                <b>Task</b>
                <br>
                <br>
                 {{task.task}}
            </p>
          </td>   
          <td style="width: 150px">
            <p style="border-style: groove;background-color: rgb(34, 226, 240) ;width: 140px; height: 80px;align-content: center">
                <b>Parent Task</b>
                <br>
                <br>{{task.parentName}}
           </p>
          </td>
          <td style="width: 150px">
            <p style="border-style: groove;background-color: rgb(34, 226, 240) ;width: 140px;height: 80px;align-content: center">
                <b>Priority</b> 
                <br>
                <br> {{task.priority}}
           </p>
          </td>
          <td style="width: 150px">
            <p style="border-style: groove;background-color: rgb(34, 226, 240) ;width: 140px;height: 80px;align-content: center">
                <b>Start Date</b>
                <br>
                <br>{{task.startDate}} 
           </p>
          </td>
          <td style="width: 150px">
            <p style="border-style: groove;background-color: rgb(34, 226, 240) ;width: 140px;height: 80px;align-content: center">
                <b>End Date</b>
                <br>
                <br>{{task.endDate}}
           </p>
          </td>
          <td  style="width: 100px"><button class="btn btn-warning" (click)="editTask(task)"> Edit</button></td>
          <td  style="width: 100px"><button class="btn btn-danger" (click)="deleteTask(task)"> Delete</button></td>
         </tr>  
         <tr>
            <td colspan="10">
                    <hr style="border-top: dotted 1.5px;" />
            </td>
         </tr>
      </table> 
      </div> 
      
  </div> 
  
</div>